<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .justify-text {
          text-align: justify;
          text-justify: distribute;
        }
      </style>
    <title>Adicionando Genero</title>
</head>

<body class="bg-light">
<p>{{id}} </p>
<p>{{filme}} </p>
<p>{{filme.cover.url}} </p>


<p>{{comentario}} </p>
<p>{{nota}} </p>
<p>{{user}} </p>
<p>{{plataforma}} </p>
<p>{{genero}} </p>
{%for p in plataforma%}
  {{p}}
{%endfor%}

    <div class="container py-2 d-flex justify-content-center">
        <form class="row bg-secondary text-white py-2 rounded-2" style=" width: 70vw; justify-content: space-evenly;" method="post" action="/avaliacao/{{id}}">
          <div class="row mx-2 px-2">
            <div class=" bg-primary col justify-text p-2" style="flex-grow: 1;">
              
              <img src="{{filme.cover.url|default:'/media/images/filme-default.png'}}" alt="imagem de um filme" width="203px" height="300px">
              
                <p> <b> Nome:  </b> {{filme}} </p>
                <p> <b> Duracao:  </b> {{filme.duracao}} minutos </p>
              
                
                <p> <b> Genero: </b>
                    {% for g in genero%}
                      <span>  {{g|default:"Não foi definido nenhum genero "}}  </span> 
                    {%endfor%}
                </p>
                <p> <b> Plataforma de Streaming: </b> 
                    {% for p in plataforma%}
                    <span> {{p|default:"Não foi defenida nenhuma plataforma"}}</span>   
                    {%endfor%}
        
                
                </p>   
              </div>
              
                <div class="col bg-warning justify-content-center text-center" style="flex-grow: 2; font-size: large; color:black" >
                  
                  {% if user.usuario.id == eu.id %}
                  <p><b>Avaliação</b></p>  
                  <p><input type="range" min="1" max="5" value="{{nota}}"></p>
                  <p><b>Comentário</b></p> 
                  <textarea name="" id="" cols="40" rows="12" >
                    {{comentario}}
                  </textarea>
                </div>

                
                <div class=" row justify-content-center">
                <button type="submit" class="btn btn-success p-2 m-2" style="width: 40vw;" >Submeter Avaliação</button>
              </div> 
              {%else%}

              <div style="display: flex; flex-direction: column ;justify-content: space-between; align-self: center; height: 75vh;">
              <p><b>Avaliação</b></p>  
              <p><input type="range" min="1" max="5" value="{{nota}}" readonly></p>
              <p><b>Comentário</b></p> 
              <p  >
                {{comentario}}
              </p>
               <div> 
                {% include 'usercardTemplate.html' with s=user align='right' m='criado por' %}  
              </div>
            </div>
            </div>
            
                {%endif%} 

                
            </form>
      </div>


   {% include 'bootstrapJS.html' %}
</body>
</html>