
   

    
    <figure class="fir-image-figure" style="text-align: {{align|default:'center'}}; padding-right: 4px;">

        <a class="fir-imageover" rel="noopener" href="users/{{s.id}}">
          <img class="fir-author-image fir-clickcircle" style="border-radius: 2rem;" src='{{s.img.url}}' width='64px' height='64px' alt="Imagem do usuario">
        </a>
        <br/>
        <figcaption>
          
            <p class="fig-author-figure-title"> {{m|default:''}}   {{s.usuario}}</p>
              
        
           </figcaption>
        </figure>   



