
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background-color: #040404;
            color: white;
        }

        .card {
            background-color: #161513;
            color: white;
        }
        /* 
        .navbar {
            background-color: #161513; Se usar um navbar, aplique bg-dark ao invés disso 
        }
            */

        .carousel-inner {
            color: white;
        }

        .modal-content {
            background-color: #161513;
            color: white;
        }

        .modal-header {
            border-bottom: 1px solid #444;
        }

        .modal-body {
            border-top: 1px solid #444;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

        .btn-secondary {
            background-color: #6c757d;
            border-color: #6c757d;
        }

        .btn-secondary:hover {
            background-color: #5a6268;
            border-color: #545b62;
        }
        .carousel-item {
           
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap; 
        }
        
        .carousel-item .p-2 {
            flex: 1 1 auto; /* Modificado para que os itens usem o espaço disponível */
            margin: 0 5px;
            width: 150px;
          
        }
        .carousel-item img {
            width: 150px; /* Largura padrão para as imagens */
            height: 225px; /* Altura padrão para as imagens */
            object-fit: cover; /* Para garantir que a imagem se ajuste sem distorções */
            border-radius: 5px; /* Borda arredondada */
        }
        
        .carousel-item p {
            white-space: nowrap; /* Evita quebra de linha no texto */
            overflow: hidden; /* Oculta texto excedente */
            text-overflow: ellipsis; /* Adiciona reticências ao texto muito longo */
            max-width: 150px; /* Limita a largura do texto ao tamanho da imagem */
        }
        
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            color: white;
            font-weight: bold;
            transition: 500ms;
        }
    </style>
    <title>Document</title>
</head>
<body>


    {%include 'navbar.html'%}

  
   

    <div class="container-fluid mt-5 container-custom">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Perfil do Usuário</h3>
                    </div>
                    <div class="card-body text-center">
                        <img src="{{skin.img.url}}" alt="Foto do Perfil" width="150" height="150" class="rounded-circle mb-3">
                        <h4>{{user}}</h4>
                        <hr>
                        
                        <h5>Biografia</h5>
                        <p class="text-start">
                            {{skin.bio}}
                        </p>
                        <hr>

                        <h5>Playlists de Filmes</h5>
                        {% if can_edit %}
                        <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addPlaylistModal">
                            Adicionar Playlist
                        </button>
                        {% endif %}
                        <div class="row">
                            {% for p in playlist %}
                            
                            <div class="col-md-4">
                                <div class="card mb-3 card-body bg-dark">
                                    <a href="/getAllMoviesByPlayList/{{p.id}}" class="" style="border-radius: 5px;">
                                        <h6 class="card-title">{{p.play.nome}}</h6>
                                        <p class="card-text">{{p.play.desc}}</p>
                                    </a>
                                    {% if can_edit %}
                                    <div class="card-footer">
                                        <button type="button" class="btn btn-warning me-2" onclick="event.stopPropagation(); editPlaylist({{ p.play.id }}, '{{ p.play.nome }}', '{{ p.play.desc }}')" data-bs-toggle="modal" data-bs-target="#editPlaylistModal">
                                            Editar
                                        </button>
                                        <button type="button" class="btn btn-danger" onclick="event.stopPropagation(); removePlaylist({{ p.play.id }})" data-bs-toggle="modal" data-bs-target="#deletePlaylistModal">
                                            Remover
                                        </button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        
                            {% endfor %}
                        </div>
                        <hr>

                        <h5>Filmes Assistidos</h5>
                        <div id="carouselFilmesAssistidos" class="carousel slide mt-3" data-bs-ride="carousel">
                            <div class="carousel-inner" id="carouselFilmesAssistidosInner">
                                <!-- Itens do carrossel de filmes assistidos serão adicionados dinamicamente aqui -->
                            </div>
                            <a class="carousel-control-prev" href="#carouselFilmesAssistidos" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselFilmesAssistidos" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Próximo</span>
                            </a>
                        </div>

                        <hr>

                        <h5>Interações</h5>
                        <ul class="nav nav-tabs" id="seguindoSeguidoresTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="seguindo-tab" data-bs-toggle="tab" href="#seguindo" role="tab" aria-controls="seguindo" aria-selected="true">Seguindo</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="seguidores-tab" data-bs-toggle="tab" href="#seguidores" role="tab" aria-controls="seguidores" aria-selected="false">Seguidores</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="seguindoSeguidoresTabContent">
                            <div class="tab-pane fade show active" id="seguindo" role="tabpanel" aria-labelledby="seguindo-tab">
                                <div id="carouselSeguindo" class="carousel slide mt-3" data-bs-ride="carousel">
                                    <div class="carousel-inner" id="carouselSeguindoInner">
                                        <!-- Itens do carrossel de seguindo serão adicionados dinamicamente aqui -->
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselSeguindo" role="button" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Anterior</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselSeguindo" role="button" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Próximo</span>
                                    </a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="seguidores" role="tabpanel" aria-labelledby="seguidores-tab">
                                <div id="carouselSeguidores" class="carousel slide mt-3" data-bs-ride="carousel">
                                    <div class="carousel-inner" id="carouselSeguidoresInner">
                                        <!-- Itens do carrossel de seguidores serão adicionados dinamicamente aqui -->
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselSeguidores" role="button" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Anterior</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselSeguidores" role="button" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Próximo</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer text-center">
                            {% if can_edit %}
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">Editar Perfil</button>
                            
                            <a href="/logout/" class="btn btn-secondary">Logout</a>
                            {% else %}

                                <!-- Faça a opção de Seguir ou Desseguir o usuario -->
                           
                                {% if pk in seguindo_ids %}

                                <form action="{% url 'desseguir' pk %}" method="post" class="mt-2">
                                    <button type="submit" class="btn btn-danger">Deixar de Seguir</button>
                                    {% csrf_token %}
                                </form>
                                
                            
                            
                                {%else%}
                           
                                
                                <form action="{% url 'seguir' pk %}" method="post" class="mt-2">
                                    <button type="submit" class="btn btn-primary">Seguir</button>
                                    {% csrf_token %}
                                </form>

                                {%endif%}


                                
                                
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileModalLabel">Editar Perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form  action="/users/{{skin.id|default:0}}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="mb-3">
                            <label for="profilePicture" class="form-label">Foto de Perfil</label>
                            <input type="file" name="avatar" accept="image/png, image/jpeg" class="form-control" id="profilePicture">
                        </div>
                        <div class="mb-3">
                            <label for="editBio" class="form-label">Biografia</label>
                            <textarea class="form-control" id="editBio" rows="3">{{skin.bio}}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="addPlaylistModal" tabindex="-1" aria-labelledby="addPlaylistModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPlaylistModalLabel">Adicionar Playlist</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/addPlaylist/" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="playlistName" class="form-label">Nome da Playlist</label>
                            <input type="text" class="form-control" name="nome" id="playlistName" placeholder="Nome da Playlist">
                        </div>
                        <div class="mb-3">
                            <label for="playlistDescription" class="form-label">Descrição</label>
                            <textarea class="form-control" name="desc" id="playlistDescription" rows="3" placeholder="Descrição da Playlist"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    <div class="modal fade" id="editPlaylistModal" tabindex="-1" aria-labelledby="editPlaylistModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPlaylistModalLabel">Editar Playlist</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action='' id="editPlaylistForm" method='post'>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="editPlaylistName" class="form-label">Nome da Playlist</label>
                            <input type="text" name='nome' class="form-control" id="editPlaylistName" value="Nome da Playlist Atual">
                        </div>
                        <div class="mb-3">
                            <label for="editPlaylistDescription" class="form-label">Descrição</label>
                            <textarea class="form-control" id="editPlaylistDescription" name='desc' rows="3">Descrição Atual</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="deletePlaylistModal" tabindex="-1" aria-labelledby="deletePlaylistModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deletePlaylistModalLabel">Confirmar Remoção</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Você tem certeza que deseja remover esta playlist?</p>
                </div>
                <form id="deletePlaylistForm" class="modal-footer" action=''>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Remover</button>
                </form>
            </div>
        </div>
    </div>

 
    {%include 'bootstrapJS.html'%}

    <script>


        function editPlaylist(id, nome, desc) {
            const form = document.getElementById('editPlaylistForm');
            const editName = document.getElementById('editPlaylistName');
            const editDesc = document.getElementById('editPlaylistDescription');
            
            form.action = `/editPlaylist/${id}/`;
            editName.value = nome;
            editDesc.value = desc;
        }
        
        function removePlaylist(id) {
            const form = document.getElementById('deletePlaylistForm');
            form.action = `/removePlaylist/${id}/`;
        }
       
       
    </script>

<script>
   document.addEventListener('DOMContentLoaded', function() {
    function initializeCarousel(carouselId, items, itemsPerSlide) {
        const carouselInner = document.getElementById(carouselId);
        let carouselItemDiv = document.createElement('div');
        carouselItemDiv.classList.add('carousel-item');
        carouselItemDiv.classList.add('active');

        items.forEach((item, index) => {
            if (index > 0 && index % itemsPerSlide === 0) {
                carouselInner.appendChild(carouselItemDiv);
                carouselItemDiv = document.createElement('div');
                carouselItemDiv.classList.add('carousel-item');
            }
            
            const itemDiv = document.createElement('div');
            itemDiv.classList.add('p-2', 'text-center', 'd-inline-block');
            itemDiv.style.maxWidth = `calc(100% / ${itemsPerSlide})`;
            itemDiv.innerHTML = `
                <a href="${item.url}">
                    <img src="${item.img}" alt="Item" class="img-fluid mb-2">
                    <p>${item.name}</p>
                </a>
                {% if can_edit %}
                ${item.isFollowing !== undefined ? `<form action="${item.actionUrl}" method="post" class="mt-2">
                    ${item.isFollowing ? '<button type="submit" class="btn btn-danger">Deixar de Seguir</button>' : '<button type="submit" class="btn btn-primary">Seguir</button>'}
                    {% csrf_token %}
                </form>` : ''}
                {%endif%}
            `;
            
            carouselItemDiv.appendChild(itemDiv);
        });
        carouselInner.appendChild(carouselItemDiv);
    }

    function getItemsPerSlide() {
        const width = window.innerWidth;
        if (width >= 1200) {
            return 5;
        } else if (width >= 992) {
            return 4;
        } else if (width >= 768) {
            return 3;
        } else {
            return 2;
        }
    }

    const filmesAssistidos = [
        {% for a in assistido %}
        {img: '{{a.filme.cover.url}}', name: '{{a.filme}}', url: '/postagem/{{a.filme.id}}'},
        {% endfor %}
    ];

    const seguindo = [
        {% for s in seguindo %}
        {img: '{{s.followed.img.url}}', name: '{{s.followed.usuario}}', url: '/users/{{s.followed.id}}', isFollowing: true, actionUrl: '{% url 'desseguir' s.followed.id %}'},
        {% endfor %}
    ];

    const seguidores = [
        {% for s in seguidores %}

        {% if s.follower.id not in seguindo_ids %}
        {img: '{{s.follower.img.url}}', name: '{{s.follower.usuario}}', url: '/users/{{s.follower.id}}',isFollowing: false,actionUrl: '{% url 'seguir' s.follower.id %}'},
        {%else%}
        {img: '{{s.follower.img.url}}', name: '{{s.follower.usuario}}', url: '/users/{{s.follower.id}}',isFollowing: true,actionUrl: '{% url 'desseguir' s.follower.id %}'},
        {%endif%}
        {% endfor %}
    ];
    

    
    initializeCarousel('carouselFilmesAssistidosInner', filmesAssistidos, getItemsPerSlide());
    initializeCarousel('carouselSeguindoInner', seguindo, getItemsPerSlide());
    initializeCarousel('carouselSeguidoresInner', seguidores, getItemsPerSlide());

    window.addEventListener('resize', function() {
        document.getElementById('carouselFilmesAssistidosInner').innerHTML = '';
        document.getElementById('carouselSeguindoInner').innerHTML = '';
        document.getElementById('carouselSeguidoresInner').innerHTML = '';
        initializeCarousel('carouselFilmesAssistidosInner', filmesAssistidos, getItemsPerSlide());
        initializeCarousel('carouselSeguindoInner', seguindo, getItemsPerSlide());
        initializeCarousel('carouselSeguidoresInner', seguidores, getItemsPerSlide());
    });
});
</script>

    
   
</body>
</html>
